.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  background: linear-gradient(
    150deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(47, 47, 47, 1) 3%,
    rgba(25, 25, 25, 1) 43%,
    rgba(18, 18, 18, 1) 100%
  );
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  z-index: 1;
  top: 0;
}


/* ---------------------------------------- Auth Button ---------------------------------------- */

.auth-button {
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  color: #d6d6d6;
  background: linear-gradient(144deg, #3a3a3a -69.07%, #2b2b2b 122.22%);
  margin-top: 10px;
  z-index: 2;
}

.auth-button:hover {
  box-shadow: 2px 2px 5px 0px rgba(218, 218, 218, 0.5),
    -2px -2px 5px 0px rgba(143, 143, 143, 0.5);
}

/* ---------------------------------------- Tot Burned Text ---------------------------------------- */

.tot-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.tot-wrapper2 {
  margin-top: 21px;
  margin-bottom: 42px;
  width: 48%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.not-img {
  width: 80px;
  height: 80px;
  margin-top: -21px;
  pointer-events: none;
  z-index: 6;
}

.tot-line {
  background-color: #d6d6d6;
  min-height: 1px;
  width: 90%;
  padding-bottom: 1px;
  z-index: 5;
}

.tot-burned-text {
  text-align: center;
  white-space: nowrap;
  font-size: 31px;
  font-weight: 500;
  color: #d6d6d6;
  z-index: 5;
}

.tot-burned-text2 {
  text-align: center;
  white-space: nowrap;
  margin-top: -5px;
  font-size: 44px;
  font-weight: 400;
  color: #acacac;
  z-index: 5;
}


/* ---------------------------------------- Burn Panel ---------------------------------------- */

.burn-panel-wrapper {
  width: 90%;
  max-width: 600px;
  min-width: 390px;
  height: 420px;
  margin-bottom: 42px;
  z-index: 3;
}

.burn-panel-rect {
  height: 420px;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(144deg, #3a3a3a -69.07%, #1f1f1f 122.22%);
  box-shadow: 4px 2px 9px 0px rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.burn-chrome {
  position: absolute;
  width: 120px;
  height: 155px;
  margin-left: 5px;
  margin-top: 260px;
  pointer-events: none;
  z-index: 6;
}

.burn-panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.burn-title-text {
  padding-top: 21px;
  text-align: center;
  white-space: nowrap;
  font-size: 31px;
  font-weight: 500;
  color: #d6d6d6;
  z-index: 5;
}

.burn-panel-line {
  background-color: #d6d6d6;
  min-height: 1px;
  width: 85%;
  margin-top: -15px;
  padding-bottom: 1px;
  z-index: 5;
}

.burn-descr-text {
  width: 85%;
  text-align: center;
  white-space: pre-wrap;
  font-size: 13px;
  font-weight: 500;
  color: #acacac;
  z-index: 5;
}

.balance-text {
  width: 50%;
  font-size: 14px;
  margin-top: -15px;
  text-align: right;
  color: #6e6e6e;
}

.burn-button {
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  color: #d6d6d6;
  background: linear-gradient(144deg, #3a3a3a -69.07%, #2b2b2b 122.22%);
}

.burn-button:hover {
  box-shadow: 2px 2px 5px 0px rgba(218, 218, 218, 0.5),
    -2px -2px 5px 0px rgba(143, 143, 143, 0.5);
}


/* ---------------------------------------- Input field ---------------------------------------- */

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 42px;
  margin-top: 21px;
  cursor: text;
  z-index: 91;
}

.input-rect1 {
  position: absolute;
  width: 100%;
  height: 42px;
  border-radius: 20px;
  background: linear-gradient(108deg, #525252 48.23%, #3a3a3a 96.81%);
  z-index: 92;
}

.input-rect1.active {
  background: linear-gradient(130deg, #f3f3f3 10.23%, #a7a7a7 96.81%);
}

.input-rect2 {
  position: absolute;
  width: 99%;
  height: 38px;
  border-radius: 18px;
  background: linear-gradient(108deg, #222222 48.23%, #1b1b1b 96.81%);
  z-index: 93;
}

.input-rect3 {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 6px;
  width: 98%;
  max-height: 34px;
  border-radius: 18px;
  background: linear-gradient(304deg, #2c2c2c, #222222, #292929);
  box-shadow: 2px 3px 10px 0px #070709 inset,
    -2px -2px 10px 0px rgba(255, 255, 255, 0.05) inset;
  z-index: 94;
}

.input-icon {
  margin-left: 12px;
  top: 6px;
  z-index: 95;
  user-select: none;
  pointer-events: none;
}

.input-input {
  font-size: 16px;
  font-weight: bold;
  text-align: end;
  width: 80%;
  min-height: 34px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #e9e9e9;
  z-index: 96;
}

.input-input::-webkit-inner-spin-button,
.input-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* ---------------------------------------- Error Panel ---------------------------------------- */

.error-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
}

.error-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.error-modal button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-modal button:hover {
  background-color: #0056b3;
}


/* ---------------------------------------- Burners List ---------------------------------------- */

.burners-text {
  margin-bottom: 42px;
  text-align: center;
  white-space: nowrap;
  font-size: 21px;
  font-weight: 500;
  color: #d6d6d6;
  z-index: 5;
  cursor: pointer;
}

.burners-text:hover {
  text-decoration: underline;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
}

.burners-panel-rect {
  height: 420px;
  width: 60%;
  border-radius: 16px;
  background: linear-gradient(144deg, #3a3a3a -69.07%, #1f1f1f 122.22%);
  box-shadow: 4px 2px 9px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
  overflow: hidden;
  z-index: 999;
}

.burners-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 420px;
}

.burners-list h2 {
  text-align: center;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 500;
  color: #d6d6d6;
  margin-bottom: 10px;
}

.burners-line {
  background-color: #d6d6d6;
  min-height: 1px;
  width: 70%;
  padding-bottom: 1px;
}

.burners-list ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  white-space: pre-wrap;
  font-size: 17px;
  font-weight: 500;
  color: #acacac;
}

.burners-list ul li {
  margin-bottom: 10px;
}
